# Python cache
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Environment
.env
.venv/
venv/

# IDE
.idea/

# Temporary files
tempCodeRunnerFile.py

# Python packaging
build/
dist/
*.egg-info/

# SQLite
*.sqlite3